.wrapper {
  width: min(70rem, 100%);
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;

  display: flex;
  justify-content: center;
  align-items: flex-start;

}